body { background: #a99ed7; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 29px; display: flex; }
.block-metrics-0 { color: #4944ab; font-size: 12px; margin-bottom: 5px; }
.block-sms-1 { color: #9474ca; font-size: 21px; margin-bottom: 5px; }
.block-filter-2 { color: #e349ea; font-size: 12px; margin-bottom: 5px; }
.block-auth-3 { color: #95b07e; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #9333fd; font-size: 16px; margin-bottom: 5px; }
.block-cluster-5 { color: #58c7ff; font-size: 19px; margin-bottom: 5px; }
.block-invoice-6 { color: #1a1539; font-size: 18px; margin-bottom: 5px; }
.block-session-7 { color: #813694; font-size: 18px; margin-bottom: 5px; }
.block-sms-8 { color: #7a57fb; font-size: 21px; margin-bottom: 5px; }